---
import MainLayout from "../layouts/main-layout.astro";
import { Image } from "astro:assets";
import SectionWithHeading from "../components/section-with-heading.astro";
import getAllGames from "../api/games";
import getAllImageDetails from "../scripts/getAllImageDetails";

const Images: any = [];

const images = await Astro.glob("../assets/showcase/*.png").then((data) => {
	data.map((img) => {
		const str = img.default.src;
		const regex = import.meta.env.PROD
			? /\/(\d+)-([^\/]+)\.\w+$/
			: /\/(\d+)-(.+)\.png\?/;
		const match = str.match(regex);
		const number = Number(match[1]);
		const text = match[2];

		Images.push({
			...img,
			title: import.meta.env.PROD ? text.replace(/\..*/, "") : text,
			id: number,
		});
	});

	return data;
});

const games = await getAllGames();

function sortByDesc(a: any, b: any) {
	const nameA = a.id; // ignore upper and lowercase
	const nameB = b.id; // ignore upper and lowercase
	if (nameA > nameB) {
		return -1;
	}
	if (nameA < nameB) {
		return 1;
	}

	// names must be equal
	return 0;
}
---

<MainLayout title="Home">
	<SectionWithHeading title="My Art" icon="fa-solid:paint-brush" url="/art">
		{
			Images.sort(sortByDesc)
				.slice(0, 8)
				.map((image) => (
					<a
						href={`/art/${image.title}`}
						class="hover:animate-gelatine-in-out overflow-hidden rounded-md cursor-pointer"
					>
						<Image
							src={image.default.src}
							width={512}
							height={512}
							class="w-full h-full object-cover object-center"
							alt={image.title}
							format="webp"
							loading="lazy"
						/>
					</a>
				))
		}
	</SectionWithHeading>

	<SectionWithHeading
		title="My Games"
		icon="ion:game-controller"
		url="/games"
	>
		{
			games
				.filter((game) => game.hasOwnProperty("cover_url"))
				.map((game) => (
					<a
						href={game.url}
						class="group overflow-hidden rounded-md cursor-pointer"
					>
						<div class="flex flex-col">
							<img
								src={game.cover_url}
								width={256}
								height={256}
								class="w-full h-full object-cover object-center group-hover:animate-gelatine-in-out"
								alt={game.title}
							/>
							<span class="font-bold">{game.title}</span>
						</div>
					</a>
				))
		}
	</SectionWithHeading>
</MainLayout>
