---
import extractThemes from "../scripts/extractThemes";

const themes = extractThemes();
---

<form class="flex gap-2 items-center justify-center">
    {
        themes.map((theme) => (
            <div data-theme={theme}>
                <input
                    type="radio"
                    data-theme={theme}
                    id={theme}
                    value={theme}
                    name="theme"
                />
                <label
                    class="flex border-2
                    border-primary rounded-lg overflow-hidden hover:animate-gelatine-in-out cursor-pointer"
                    for={theme}
                >
                    <div class="w-2 h-6 bg-primary" />
                    <div class="w-2 h-6 bg-secondary" />
                    <div class="w-2 h-6 bg-color" />
                </label>
            </div>
        ))
    }
</form>

<style>
    input[type="radio"] {
        position: fixed;
        opacity: 0;
        pointer-events: none;
    }
</style>

<script>
    const selectors = document.querySelectorAll("input[data-theme]");
    const html = document.documentElement;

    selectors.forEach((selector) => {
        selector.addEventListener("click", (e) => {
            const element = e.target as HTMLInputElement;
            localStorage.setItem("theme", element.value);
            html.dataset.theme = element.value;
        });
    });
</script>
